.smelp-rating {
	width: 75px;
	display: none;
}

.smelp-rating a:hover {
	text-decoration: none;
}

.smelp-rating .yelp_icon {
	position: relative;
	width: 15px;
	top: 3px;
	margin-right: 3px;
}

.smelp-rating .smelp_rating_img {
	margin: 0 3px;
}

.smelp-rating span {
	position: relative;
	top: -2px;
	color: #BDBDBD;

}

#RestaurantResults .smelp-rating .smelp_rating_img {
	width: 55px;
	top: 1px;
	position: relative;
	margin: 0;
}

#RestaurantResults .smelp-rating span {
	font-size: 10px;
	display: block;
	margin-bottom: 10px;
}

#RestaurantPage .smelp-rating {
	display: block;
	margin: 0 0 15px 0;
	width: auto;
}

#RestaurantPage .smelp-rating .smelp_rating_img {
	top: 3px;
	position: relative;
}

.ratings-got-smelped > a img {
	width: 45px;
	opacity: .5;
}
.ratings-got-smelped > a {
	font-size: 9px;
	opacity: .5;
}
.ratings-got-smelped > span {
	font-size: 9px;
	opacity: .3;
}

tr:hover .ratings-got-smelped > a img {
	opacity: 1;
}
tr:hover .ratings-got-smelped > span {
	opacity: 1;
}
tr:hover .ratings-got-smelped > a {
	opacity: 1;
}
